<ion-view title="Signup" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form ng-submit="Signup(user)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Mobile no" ng-model="user.number">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <div>
          <button class="button button-block button-positive" type="submit">Create account</button>
        </div>
        <div style="text-align: center">
          Or <a href="/#/login">Already have an account?</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
